
body{
    font-family: Arial;
    background:#eef2f7;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.box {
    width: 1300px;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 44%, rgba(111, 191, 128, 1) 56%, rgba(45, 150, 68, 1) 68%);
    display: flex;
    justify-content: space-between;
    padding: 200px;
    border-radius: 50px;
}

.login-box{
    border-radius:10px;
    width:500px;
    text-align:center;

}

h2{
    font-size: 2.5em;
    margin-bottom:20px;
}

.cadastro-box{
    color: white;
    border-radius:10px;
    width:500px;
    text-align:center;
}

input{
    width:90%;
    padding:10px;
    margin:10px auto;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:100%;
    margin-top: 10px;
    padding:10px;
    background:#28a745;
    border:none;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
}


button:hover{
    background:#218838;
}

a.cadastro {
    color: #218838;
    font-weight: bold;
}

.cadastro-box > button{
    background: #ffffff;
    color: #28a745;
}

.cadastro-box > button:hover{
    background: #ccc;
    color: #218838;
}
